{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div></div>
<form action="" method="post">
    <label for="email">Email:</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="you@example.com">
    <br/>
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="abcd1234!">
    <br/>
    <button type="submit">Submit</button>
</form>
</div>
<br/>
{% endblock %}
